{
	"plugins": [
		[
			"module-resolver",
			{
				"alias": {
					"@": "./src",
					"@IconCommon": "./src/Assets/Icons/Common",
					"@SVGComponent": "./src/Assets/Icons/SVGComponent",
					"@SiteAssets": "./src/Assets/Images/Site"
				}
			}
		]
	]
}
