.leaflet-container {
	width: 100%;
	height: 100%;
	border-radius: 16px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	z-index: 30;
}

/* .leaflet-pane.leaflet-marker-pane img:hover {
	cursor: pointer;
}

.leaflet-pane.leaflet-marker-pane img[data-isInView="true"] {
	background-color: black;
}

.leaflet-popup-content-wrapper {
	padding: 0 !important;
	border-radius: 32px !important;
}

.leaflet-popup-content {
	position: relative;
	width: 300px !important;
	min-height: 350px !important;
	margin: 0 !important;
	display: flex;
	flex-direction: column;
} */
