.map-modal.leaflet-container {
	width: 100%;
	height: 100%;
}

.map-modal .leaflet-pane.leaflet-marker-pane img:hover {
	cursor: pointer;
}

.map-modal .leaflet-pane.leaflet-marker-pane img[data-isInView="true"] {
	background-color: black;
}

.map-modal .leaflet-popup-content-wrapper {
	padding: 0 !important;
	border-radius: 32px !important;
}

.map-modal .leaflet-popup-content {
	position: relative;
	width: 300px !important;
	min-height: 350px !important;
	margin: 0 !important;
	display: flex;
	flex-direction: column;
}
