body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	box-sizing: border-box;
	overflow-y: scroll;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,600;9..40,700&family=Inter:wght@400;700;800&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700&family=Poppins:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.content-header {
		@apply text-3xl font-semibold;
	}

	.hover-button {
		@apply hover:text-black hover:bg-slate-200;
	}

	input[type="range"]::-webkit-slider-thumb {
		@apply w-6 h-6 transition-transform data-[slider="min"]:-translate-x-3 data-[slider="max"]:translate-x-3 bg-white rounded-full shadow-xl appearance-none pointer-events-auto drop-shadow-lg cursor-grab active:cursor-grabbing active:scale-125;
	}

	.underline_element::after {
		@apply content-[''] w-0 absolute bottom-0 left-0 h-[2px] rounded ease-in-out;
		transition: 0.3s;
	}

	.new_scroll_bar::-webkit-scrollbar {
		@apply w-2;
	}

	/* Track */
	.new_scroll_bar::-webkit-scrollbar-track {
		@apply bg-transparent;
	}

	.new_scroll_bar::-webkit-scrollbar-button {
		@apply h-1 bg-transparent;
	}

	/* Handle */
	.new_scroll_bar::-webkit-scrollbar-thumb {
		@apply bg-[#878685] rounded-lg transition-all;
	}

	/* Handle on hover */
	.new_scroll_bar::-webkit-scrollbar-thumb:hover {
		@apply bg-white;
	}

	.invalid-input {
		@apply ring-2 ring-red-400;
	}
}
